.l-page,
.l-header,
.l-main,
.l-footer,
.l-content,
.l-region--navigation,
.l-region--highlighted,
.l-region--featured,
.l-region--slider,
.l-region--misc,
.l-region--footer-bottom {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

.l-page,
.l-main,
.l-footer,
.l-content,
.l-region--highlighted,
.l-region--featured,
.l-region--slider,
.l-region--misc,
.l-region--footer-bottom {
  margin-bottom: 20px; }

@media (min-width: 540px) {
  .l-branding {
    width: 66.1157%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .l-region--header {
    width: 33.05785%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: none; }
  .l-region--navigation {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: both; } }

@media (min-width: 980px) {
  .l-branding {
    width: 24.84472%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .l-region--header {
    width: 74.53416%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: none; }
  .l-region--navigation {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: both; } }

@media (min-width: 540px) {
  .l-region--footer-first {
    width: 45.45455%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .l-region--footer-second,
  .l-region--footer-fourth {
    width: 45.45455%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  .l-region--footer-third {
    width: 45.45455%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: both; } }

@media (min-width: 980px) {
  .l-region--footer-first {
    width: 24.09639%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .l-region--footer-second {
    width: 24.09639%;
    float: left;
    margin-right: -100%;
    margin-left: 25.3012%;
    clear: none; }
  .l-region--footer-third {
    width: 24.09639%;
    float: left;
    margin-right: -100%;
    margin-left: 50.60241%;
    clear: none; }
  .l-region--footer-fourth {
    width: 24.09639%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

* {
  box-sizing: border-box; }

h1 {
  font-size: 32px;
  margin-top: 0.67em;
  margin-bottom: 0.67em; }

h2 {
  font-size: 24px;
  margin-top: 0.83em;
  margin-bottom: 0.83em; }

h3 {
  font-size: 18px;
  margin-top: 1em;
  margin-bottom: 1em; }

h4 {
  font-size: 16px;
  margin-top: 1.33em;
  margin-bottom: 1.33em; }

h5 {
  font-size: 13px;
  margin-top: 1.67em;
  margin-bottom: 1.67em; }

h6 {
  font-size: 11px;
  margin-top: 2.33em;
  margin-bottom: 2.33em; }

p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
  color: black;
  margin-top: 0em;
  margin-bottom: 0.7em;
  text-align: left; }

strong {
  font-weight: bold; }

ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px; }

li {
  display: list-item;
  margin-bottom: 0.7em;
  font-size: 16px; }

@media (min-width: 980px) {
  .l-header {
    margin-bottom: 20px; } }

.l-branding {
  padding: 0 1em; }

.l-region--header {
  padding: 0 1em; }

.l-region--navigation {
  padding: 0 1em; }

.l-content {
  padding: 0 1em; }

.l-region--footer-first,
.l-region--footer-second,
.l-region--footer-third,
.l-region--footer-fourth {
  padding: 0 1em; }
