body {
  max-width: 980px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Source Sans Pro', sans-serif; }

* {
  box-sizing: border-box; }

h1 {
  font-size: 32px;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  background: #E07B00 url("../images/bg-headline.png") center center no-repeat;
  background-size: 100% 100%;
  padding: 4px 0;
  text-align: center;
  color: #FFF;
  font-family: 'Roboto Slab', sans-serif; }

h2 {
  font-size: 24px;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  font-family: 'Roboto Slab', sans-serif; }

h3 {
  font-size: 18px;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: 'Roboto Slab', sans-serif; }

h4 {
  font-size: 16px;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  font-family: 'Roboto Slab', sans-serif; }

h5 {
  font-size: 13px;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  font-family: 'Roboto Slab', sans-serif; }

h6 {
  font-size: 11px;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  font-family: 'Roboto Slab', sans-serif; }

@media (max-width: 479px) {
  h1 {
    font-size: 20px; }
  h2 {
    font-size: 18px; }
  h3 {
    font-size: 16px; } }

@media (min-width: 480px) and (max-width: 979px) {
  h1 {
    font-size: 24px; }
  h2 {
    font-size: 20px; }
  h3 {
    font-size: 18px; } }

p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
  color: black;
  margin-top: 0em;
  margin-bottom: 0.7em;
  text-align: left; }

strong {
  font-weight: bold; }

em, i {
  font-style: italic; }

ul,
ol {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

li {
  display: list-item;
  margin-bottom: 0.7em;
  font-size: 16px; }

h1 > a,
h2 > a,
h3 > a,
h4 > a {
  color: #3457A0;
  text-decoration: none; }

h2.site-slogan {
  color: #3457A0; }

fieldset {
  border: 1px solid #CCC;
  border-radius: 0;
  padding: 1.25em;
  margin: 1.125em 0; }
  fieldset legend {
    background: #FFF;
    padding: 0 0.1875em;
    margin: 0;
    margin-left: -0.1875em;
    font-weight: bold; }

.feed-icon {
  margin-top: 1em; }

input[type=text],
input[type=password] {
  max-width: 100%; }

ul.tabs--primary {
  padding: 0 3px;
  margin: 0;
  overflow: hidden; }
  ul.tabs--primary li {
    display: block;
    vertical-align: bottom;
    margin: 0 5px 0 0;
    background-color: #f6f6f2; }
  ul.tabs--primary li.active a {
    color: #333; }
  ul.tabs--primary li a {
    color: #01a9b3;
    height: 1.8em;
    line-height: 1.9;
    display: block;
    padding: 0 10px 3px;
    margin: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; }
  ul.tabs--primary li.active a {
    background-color: #FFF;
    color: #333; }
  ul.tabs--primary a:hover, ul.tabs--primary a:focus {
    color: #02d6e2;
    background-color: #68696b; }

ul.tabs--secondary {
  padding: 0.5em 0;
  margin: 0;
  overflow: hidden; }
  ul.tabs--secondary li {
    display: block;
    vertical-align: bottom;
    margin: 0 5px 0 0;
    background-color: #f6f6f2; }
  ul.tabs--secondary li.active a {
    color: #333; }
  ul.tabs--secondary li a {
    color: #01a9b3;
    height: 1.8em;
    line-height: 1.9;
    display: block;
    padding: 0 10px 3px;
    margin: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; }
  ul.tabs--secondary li.active a {
    background-color: #FFF;
    color: #333; }
  ul.tabs--secondary a:hover, ul.tabs--secondary a:focus {
    color: #02d6e2;
    background-color: #68696b; }

.tabs,
ul.tabs--primary,
ul.tabs--secondary {
  margin-bottom: 20px; }

.block__content a[href],
.node__content a[href],
.taxonomy-term__content a[href],
.view-content a[href],
.node-readmore a[href],
.user-profile a[href] {
  color: #3457A0;
  text-decoration: none; }
  .block__content a[href]:hover,
  .node__content a[href]:hover,
  .taxonomy-term__content a[href]:hover,
  .view-content a[href]:hover,
  .node-readmore a[href]:hover,
  .user-profile a[href]:hover {
    color: #01A9B3;
    text-decoration: underline; }

.node-readmore a[href] {
  font-size: 90%; }

.ui-accordion {
  margin-bottom: 20px; }
  .ui-accordion h3.ui-accordion-header,
  .ui-accordion div.ui-accordion-header {
    margin-bottom: 2px;
    font-weight: normal;
    border: 1px solid #E07B00;
    background: #E07B00 url(../images/bg-accordion.png) 50% 50% repeat-x; }
    .ui-accordion h3.ui-accordion-header .ui-icon,
    .ui-accordion div.ui-accordion-header .ui-icon {
      background-image: url(../images/ui-icons_ffffff_256x240.png); }
    .ui-accordion h3.ui-accordion-header span.ui-icon-triangle-1-e,
    .ui-accordion div.ui-accordion-header span.ui-icon-triangle-1-e {
      background-position: -64px -128px; }
  .ui-accordion h3.ui-accordion-header-active,
  .ui-accordion div.ui-accordion-header-active {
    margin-bottom: 0;
    border: 1px solid #A03800;
    background: #A03800 url(../images/bg-accordion-active.png) 50% 50% repeat-x; }
    .ui-accordion h3.ui-accordion-header-active span.ui-icon-triangle-1-s,
    .ui-accordion div.ui-accordion-header-active span.ui-icon-triangle-1-s {
      background-position: -32px -128px; }
  .ui-accordion h3.ui-accordion-header,
  .ui-accordion div.ui-accordion-header,
  .ui-accordion h3.ui-accordion-header-active,
  .ui-accordion div.ui-accordion-header-active {
    color: #FFF; }
    .ui-accordion h3.ui-accordion-header a, .ui-accordion h3.ui-accordion-header a:hover,
    .ui-accordion div.ui-accordion-header a,
    .ui-accordion div.ui-accordion-header a:hover,
    .ui-accordion h3.ui-accordion-header-active a,
    .ui-accordion h3.ui-accordion-header-active a:hover,
    .ui-accordion div.ui-accordion-header-active a,
    .ui-accordion div.ui-accordion-header-active a:hover {
      color: inherit; }
  .ui-accordion .ui-accordion-content {
    margin-bottom: 20px;
    border: none; }

body.adminimal-menu div.toolbar-shortcuts {
  display: none; }

body {
  height: 100%;
  background-color: #FFF; }

.l-page,
.l-header,
.l-main,
.l-footer {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

.l-page {
  max-width: 100%;
  margin: 0 auto; }

@media (max-width: 479px) {
  .l-header .l-branding,
  .l-header .l-region--header,
  .l-header .l-region--navigation {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

@media (min-width: 480px) and (max-width: 979px) {
  .l-header .l-branding,
  .l-header .l-region--header,
  .l-header .l-region--navigation {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

@media (min-width: 980px) {
  .l-header .l-branding {
    width: 28.53067%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .l-header .l-region--header {
    width: 71.398%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  .l-header .l-region--navigation {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: both; } }

.l-region--highlighted,
.l-region--help,
.l-region--news,
.l-content {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

@media (max-width: 479px) {
  .l-footer .l-region--footer,
  .l-footer .l-region--footer-bottom {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

@media (min-width: 480px) and (max-width: 979px) {
  .l-footer .l-region--footer,
  .l-footer .l-region--footer-bottom {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

@media (min-width: 980px) {
  .l-footer .l-region--footer,
  .l-footer .l-region--footer-bottom {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

@media (max-width: 479px) {
  .l-header {
    position: relative; } }

@media (min-width: 480px) and (max-width: 979px) {
  .l-header {
    position: relative;
    margin-bottom: 20px; } }

@media (min-width: 980px) {
  .l-header {
    margin-bottom: 20px; } }

@media (max-width: 479px) {
  .l-branding img {
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    display: block; } }

@media (min-width: 480px) and (max-width: 979px) {
  .l-branding img {
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    display: block; } }

@media (min-width: 980px) {
  .l-branding {
    padding: 20px;
    padding-bottom: 0; } }

.l-branding img {
  width: 100%;
  max-width: 220px; }

@media (max-width: 479px) {
  .l-region--header {
    display: block;
    position: absolute;
    z-index: 999999;
    top: 0;
    right: 0;
    padding: 0; }
    .l-region--header #block-tb-megamenu-main-menu {
      display: none; } }

@media (min-width: 480px) and (max-width: 979px) {
  .l-region--header {
    display: block;
    position: absolute;
    z-index: 999999;
    top: 0;
    right: 0;
    padding: 0; }
    .l-region--header #block-search-form {
      margin: 0; }
    .l-region--header #block-tb-megamenu-main-menu {
      margin: 0 1em;
      margin-top: -14px; } }

@media (min-width: 980px) {
  .l-region--header {
    height: 155px; }
    .l-region--header #block-tb-megamenu-main-menu {
      margin-top: 40px; } }

@media (max-width: 479px) {
  .l-region--navigation {
    display: block;
    position: absolute;
    z-index: 99999;
    top: 0px;
    padding: 0; } }

@media (min-width: 480px) and (max-width: 979px) {
  .l-region--navigation {
    display: none; } }

@media (min-width: 980px) {
  .l-region--navigation {
    display: none; } }

#admin-menu,
#admin-menu .dropdown {
  z-index: 999999; }

.l-main {
  margin-bottom: 20px; }

@media (max-width: 479px) {
  .l-content {
    padding: 0 1em; } }

@media (min-width: 480px) and (max-width: 979px) {
  .l-content {
    padding: 0 1em; } }

@media (min-width: 980px) {
  .l-content {
    padding: 0 1em; } }

.l-footer .l-region--news {
  padding: 0 1em; }

.file-image {
  max-width: 100%; }
  .file-image img {
    padding-bottom: 8px;
    max-width: 100%;
    height: auto; }
  .file-image .field--name-field-file-image-caption-text > div > div {
    font-size: 12px;
    line-height: 1.2; }
  .file-image .field--name-field-file-image-credit-text > div > div {
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 8px; }

img.file-media-cseu-cover-photo {
  width: 100%;
  max-width: 980px;
  padding-bottom: 0; }

.file-icon {
  padding-right: 4px; }

.file-document,
.file-undefined {
  margin: 8px 0; }
  .file-document .file,
  .file-undefined .file {
    display: table; }
    .file-document .file .file-icon,
    .file-undefined .file .file-icon {
      display: table-cell;
      padding: 0;
      margin: 0;
      margin-right: 8px; }
      .file-document .file .file-icon img,
      .file-undefined .file .file-icon img {
        height: 45px;
        vertical-align: top; }
    .file-document .file .file-link,
    .file-undefined .file .file-link {
      display: table-cell;
      vertical-align: top;
      padding: 0;
      margin: 0; }
  .file-document .field--name-field-description,
  .file-undefined .field--name-field-description {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 90%; }

#edit-profile-cseu-profile-groups-interest-field-cseu-groups-interest label,
#edit-profile-cseu-profile-tasks-interest-field-cseu-tasks-interest label,
#edit-profile-cseu-profile-assignments-field-cseu-secondary-proposer label,
#edit-profile-cseu-profile-assignments-field-cseu-group-assigned label,
#edit-profile-cseu-profile-assignments-field-cseu-group-chair label,
#edit-profile-cseu-profile-assignments-field-cseu-group-cochair label,
#edit-profile-cseu-profile-assignments-field-cseu-task-assigned label {
  font-size: 140%;
  margin-bottom: 8px;
  border-bottom: 1px solid #ddd;
  font-weight: normal; }

#edit-profile-cseu-profile-groups-interest-field-cseu-groups-interest-und label,
#edit-profile-cseu-profile-tasks-interest-field-cseu-tasks-interest-und label,
#edit-profile-cseu-profile-assignments-field-cseu-secondary-proposer-und label {
  font-size: inherit;
  margin-bottom: 8px;
  border-bottom: 0;
  font-weight: normal; }

.cseu-wg-label-select,
.cseu-wg-title-select {
  font-size: 110%;
  font-weight: normal; }

.cseu-task-wg-label-select,
.cseu-task-label-select,
.cseu-task-title-select {
  font-size: 110%;
  font-weight: normal; }

.cseu-wg-descr-select,
.cseu-task-descr-select {
  display: block;
  margin-top: 4px; }

#edit-profile-cseu-profile-groups-interest-field-cseu-groups-interest-und div,
#edit-profile-cseu-profile-tasks-interest-field-cseu-tasks-interest-und div {
  margin: 1em 0; }

.user-profile h2 {
  border-bottom: 2px solid #ccc; }

.field--name-field-cseu-first-name,
.field--name-field-cseu-last-name,
.field--name-field-cseu-institution,
.field--name-field-cseu-telephone,
.field--name-field-cseu-url,
.field--name-field-cseu-facebbok,
.field--name-field-cseu-twitter,
.field--name-field-cseu-area-expertise,
.field--name-field-cseu-year-completion-phd,
.field--name-field-cseu-gender {
  margin: 8px 0; }

.view-cseu-tasks-list-view h3 {
  font-size: 50%;
  margin-bottom: 8px;
  border-bottom: 1px solid #ddd; }

.cseu-wg-list-row,
.cseu-task-list-row {
  margin: 1em 0; }

.cseu-wg-list-name {
  font-weight: normal; }

.cseu-task-list-name {
  font-weight: bold; }

.node--cseu-blog-entry--teaser,
.node--article--teaser {
  margin-top: 1em;
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 2px solid #e0e0e0; }

.cseu-article-teaser-row {
  margin: 0;
  margin-top: 1em;
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 2px solid #e0e0e0;
  clear: both; }

.cseu-article-teaser-header-container .cseu-article-teaser-date,
.cseu-article-teaser-header-container .cseu-article-teaser-title-meta {
  margin: 0; }

.cseu-article-teaser-header-container .cseu-article-teaser-date {
  font-size: 14px;
  line-height: 1.4; }

.cseu-article-teaser-header-container h2.cseu-article-teaser-title-smaller,
.cseu-article-teaser-header-container h2.cseu-article-teaser-title-bold {
  width: 100%; }

.cseu-article-teaser-header-container h2.cseu-article-teaser-title-bold {
  font-weight: 600; }

.cseu-article-teaser-header-container .cseu-article-teaser-title-meta {
  margin-bottom: 0.83em;
  font-weight: 600;
  color: #4d4d4d; }

.cseu-article-teaser-image-container img {
  width: 100%;
  max-width: 100%;
  height: auto; }

.cseu-article-teaser-image-container .cseu-article-teaser-image-meta {
  margin-bottom: 1em; }
  .cseu-article-teaser-image-container .cseu-article-teaser-image-meta .cseu-article-teaser-image-caption,
  .cseu-article-teaser-image-container .cseu-article-teaser-image-meta .cseu-article-teaser-image-credit {
    margin: 0;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 600; }
  .cseu-article-teaser-image-container .cseu-article-teaser-image-meta .cseu-article-teaser-image-caption {
    margin-bottom: 4px; }

.cseu-article-teaser-content-container .cseu-article-teaser-target-link {
  font-weight: normal; }

@media (min-width: 980px) {
  .cseu-article-teaser-wrapper {
    width: 100%;
    display: table; }
    .cseu-article-teaser-wrapper .cseu-article-teaser-image-container {
      display: table-cell;
      vertical-align: top;
      width: 326px;
      height: 116px; }
      .cseu-article-teaser-wrapper .cseu-article-teaser-image-container img {
        width: 100%;
        height: auto;
        margin-top: 4px;
        max-width: 326px;
        max-height: 116px; }
      .cseu-article-teaser-wrapper .cseu-article-teaser-image-container .cseu-article-teaser-image-meta {
        display: none; }
    .cseu-article-teaser-wrapper .cseu-article-teaser-content-container {
      display: table-cell;
      vertical-align: top;
      padding-left: 1em; } }

.view-cseu-internal-user-list-view td,
.view-cseu-internal-user-interest-view td,
.view-cseu-internal-users-by-wg-view td,
.view-cseu-internal-chairs-by-wg-view td,
.view-cseu-internal-cochairs-by-wg-view td {
  vertical-align: top; }

.view-cseu-internal-user-list-view .view-footer,
.view-cseu-internal-user-interest-view .view-footer,
.view-cseu-internal-user-list-view .view-header,
.view-cseu-internal-user-interest-view .view-header {
  margin-bottom: 1em; }

.view-cseu-internal-interest-tasks-view .view-grouping-header {
  font-size: 120%;
  margin: 1em 0; }

.view-cseu-internal-interest-wgs-view h3,
.view-cseu-internal-interest-chair-wg-view h3,
.view-cseu-internal-interest-cochair-wg-view h3,
.view-cseu-internal-interest-tasks-view h3,
.view-cseu-wgs-list-view h3 {
  margin-bottom: 1em; }

.cseu-interest-by-group-row,
.cseu-interest-by-task-row,
.cseu-chairs-by-group-row,
.cseu-member-subview-row {
  margin-bottom: 1em; }

.view-cseu-internal-users-by-wg-view caption,
.view-cseu-internal-chairs-by-wg-view caption,
.view-cseu-internal-cochairs-by-wg-view caption {
  font-size: 140%;
  margin: 1em 0; }

.view-cseu-restricted-emails-by-wg-view,
.view-cseu-restricted-emails-chairs-view,
.view-cseu-restricted-emails-cochairs-view,
.view-cseu-restricted-emails-by-status-view,
.view-cseu-restricted-csv-email-all-view {
  margin-bottom: 1em; }
  .view-cseu-restricted-emails-by-wg-view h3,
  .view-cseu-restricted-emails-chairs-view h3,
  .view-cseu-restricted-emails-cochairs-view h3,
  .view-cseu-restricted-emails-by-status-view h3,
  .view-cseu-restricted-csv-email-all-view h3 {
    font-size: 120%;
    margin: 1em 0; }
  .view-cseu-restricted-emails-by-wg-view .view-footer,
  .view-cseu-restricted-emails-chairs-view .view-footer,
  .view-cseu-restricted-emails-cochairs-view .view-footer,
  .view-cseu-restricted-emails-by-status-view .view-footer,
  .view-cseu-restricted-csv-email-all-view .view-footer {
    margin-top: 20px;
    padding-top: 1em;
    border-top: 2px solid #e0e0e0;
    font-size: 80%; }

.view-cseu-restricted-emails-by-status-view .view-content {
  margin: 1em 0; }

.cseu-emails-row {
  display: inline-block;
  font-weight: normal;
  font-size: 1em;
  line-height: 120%;
  letter-spacing: 1px;
  margin-right: 0.5em; }

.group--cseu-view-mode-wgs,
.group-cseu-view-mode-tasks {
  margin: 1em 0; }

.field--name-field-cseu-secondary-proposer .field__label,
.field--name-field-cseu-group-assigned .field__label,
.field--name-field-cseu-group-chair .field__label,
.field--name-field-cseu-group-cochair .field__label,
.field--name-field-cseu-task-assigned .field__label {
  font-size: 120%;
  margin-top: 1em;
  border-bottom: 1px solid #ddd;
  font-weight: normal; }

.field--name-field-cseu-secondary-proposer .field__items {
  margin: 1em 0; }
  .field--name-field-cseu-secondary-proposer .field__items .field__item {
    margin-bottom: 8px; }

.cseu-view-mode-wgs-field-label,
.cseu-view-mode-wgs-field-title,
.cseu-view-mode-tasks-field-wg,
.cseu-view-mode-tasks-field-label,
.cseu-view-mode-tasks-field-title,
.cseu-view-mode-institution-field-title {
  font-weight: normal; }

.node--cseu-working-group--cseu-ds-view-mode-wgs-label.clearfix::after,
.view-mode-cseu_ds_view_mode_wgs_label.clearfix::after {
  display: inline; }

table.views-table {
  width: 100%; }
  table.views-table tr th {
    color: rgba(0, 0, 0, 0.75);
    font-weight: bold;
    background: #FAEAD6;
    border-bottom-style: none; }
    table.views-table tr th a.active {
      color: #A03800;
      text-decoration: none; }
      table.views-table tr th a.active:hover {
        color: #A03800;
        text-decoration: underline; }
  table.views-table tr th,
  table.views-table tr td {
    padding: 8px;
    border: 1px solid #E07B00;
    text-align: left; }

@media (min-width: 980px) {
  .view-cseu-block-fp-events .cseu-block-frontpage-row:nth-of-type(1) {
    width: 47.61905%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .view-cseu-block-fp-events .cseu-block-frontpage-row:nth-of-type(2) {
    width: 47.61905%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  .view-cseu-block-fp-events .cseu-block-frontpage-row:nth-of-type(3) {
    width: 47.61905%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .view-cseu-block-fp-events .cseu-block-frontpage-row:nth-of-type(4) {
    width: 47.61905%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  .view-cseu-block-fp-events .cseu-block-frontpage-row:nth-of-type(3) {
    clear: both; }
  .view-cseu-block-fp-events .cseu-block-frontpage-row:nth-of-type(1),
  .view-cseu-block-fp-events .cseu-block-frontpage-row:nth-of-type(2) {
    margin-bottom: 20px; }
  .view-cseu-block-fp-events .cseu-block-link-to-all {
    clear: both; } }

.page-events .view-display-id-all h3,
.page-events .view-display-id-past h3 {
  font-weight: bold; }

@media (max-width: 479px) {
  .page-events .view-display-id-all .cseu-event-category,
  .page-events .view-display-id-past .cseu-event-category,
  .page-wgs-events .view-cseu-wg-events-list .cseu-event-category {
    display: none; } }

@media (min-width: 480px) and (max-width: 979px) {
  .page-events .view-display-id-all .cseu-events-calendar-row,
  .page-events .view-display-id-past .cseu-events-calendar-row,
  .page-wgs-events .view-cseu-wg-events-list .cseu-events-calendar-row {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  .page-events .view-display-id-all .cseu-event-category,
  .page-events .view-display-id-past .cseu-event-category,
  .page-wgs-events .view-cseu-wg-events-list .cseu-event-category {
    width: 74.07407%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  .page-events .view-display-id-all .cseu-event-date,
  .page-events .view-display-id-past .cseu-event-date,
  .page-wgs-events .view-cseu-wg-events-list .cseu-event-date {
    width: 24.69136%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: both; }
  .page-events .view-display-id-all .cseu-event-content,
  .page-events .view-display-id-past .cseu-event-content,
  .page-wgs-events .view-cseu-wg-events-list .cseu-event-content {
    width: 74.07407%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  .page-events .view-display-id-all .cseu-event-category-mobile,
  .page-events .view-display-id-past .cseu-event-category-mobile,
  .page-wgs-events .view-cseu-wg-events-list .cseu-event-category-mobile {
    display: none; } }

@media (min-width: 980px) {
  .page-events .view-display-id-all .cseu-events-calendar-row,
  .page-events .view-display-id-past .cseu-events-calendar-row,
  .page-wgs-events .view-cseu-wg-events-list .cseu-events-calendar-row {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  .page-events .view-display-id-all .cseu-event-category,
  .page-events .view-display-id-past .cseu-event-category,
  .page-wgs-events .view-cseu-wg-events-list .cseu-event-category {
    width: 86.95652%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  .page-events .view-display-id-all .cseu-event-date,
  .page-events .view-display-id-past .cseu-event-date,
  .page-wgs-events .view-cseu-wg-events-list .cseu-event-date {
    width: 12.42236%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: both; }
  .page-events .view-display-id-all .cseu-event-content,
  .page-events .view-display-id-past .cseu-event-content,
  .page-wgs-events .view-cseu-wg-events-list .cseu-event-content {
    width: 86.95652%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  .page-events .view-display-id-all .cseu-event-category-mobile,
  .page-events .view-display-id-past .cseu-event-category-mobile,
  .page-wgs-events .view-cseu-wg-events-list .cseu-event-category-mobile {
    display: none; } }

@media (min-width: 980px) {
  .page-wgs-events .view-cseu-wg-events-list .cseu-event-title,
  .page-wgs-events .view-cseu-wg-events-list .cseu-event-venue {
    padding-left: 2em; } }

.node--cseu-event .field--name-field-cseu-event-date {
  margin-bottom: 0.7em;
  font-size: 110%; }

.node--cseu-event .field--name-field-cseu-event-type {
  margin-bottom: 0.7em; }

.node--cseu-event .field--name-field-cseu-event-venue {
  margin-bottom: 0.7em; }

.node--cseu-event .field--name-field-cseu-event-geofield {
  margin-bottom: 20px; }

.node--cseu-event .cseu-event-register-form {
  margin: 20px 0; }
  .node--cseu-event .cseu-event-register-form .field__label {
    background-color: #A03800;
    color: #FFF;
    padding: .5em .7em; }
  .node--cseu-event .cseu-event-register-form .field__items {
    background-color: #A03800;
    color: #FFF;
    padding: .5em .7em; }
    .node--cseu-event .cseu-event-register-form .field__items a {
      color: #FFF;
      text-decoration: underline; }

.cseu-events-calendar-row,
.node--cseu-event--teaser {
  margin-top: 1em;
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 2px solid #e0e0e0; }

.view-cseu-wg-events-list .ui-accordion .ui-accordion-content-active .cseu-events-calendar-row:last-child {
  border-bottom: none; }

@media (min-width: 980px) {
  .cseu-event-category {
    padding-left: 2.5em; } }

.cseu-event-category-43,
.cseu-event-category-44 {
  font-weight: bold;
  font-size: 80%; }

.cseu-event-category-43 {
  color: #E07B00; }

.cseu-event-category-44 {
  color: #A03800; }

.page-events ul.tabs--primary {
  display: -ms-flex;
  display: -ms-flexbox;
  display: flex; }
  .page-events ul.tabs--primary li {
    display: inline-block;
    list-style: none; }
    .page-events ul.tabs--primary li a {
      background-color: #FAEAD6;
      color: #A03800; }
  .page-events ul.tabs--primary li.active a {
    background-color: #F3DCC5;
    font-weight: bold; }
  .page-events ul.tabs--primary li:not(:last-of-type) {
    margin: 0 8px; }
  .page-events ul.tabs--primary li:last-of-type {
    margin-left: auto; }

.l-region--news {
  margin-bottom: 20px; }
  @media (max-width: 479px) {
    .l-region--news #block-views-cseu-block-frontpage-news-block,
    .l-region--news #block-views-cseu-block-fp-events-block {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      margin-bottom: 20px; } }
  @media (min-width: 480px) and (max-width: 979px) {
    .l-region--news #block-views-cseu-block-frontpage-news-block,
    .l-region--news #block-views-cseu-block-fp-events-block {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      margin-bottom: 20px; } }
  @media (min-width: 980px) {
    .l-region--news #block-views-cseu-block-frontpage-news-block {
      width: 32.25806%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
    .l-region--news #block-views-cseu-block-fp-events-block {
      width: 64.51613%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none; } }

.block--views-cseu-block-frontpage-news-block h2.block__title,
.block--views-cseu-block-fp-events-block h2.block__title {
  margin: 0;
  padding-left: 1em;
  background-color: #E07B00;
  color: #FFF; }

.block--views-cseu-block-frontpage-news-block .cseu-block-frontpage-row,
.block--views-cseu-block-fp-events-block .cseu-block-frontpage-row {
  margin: 12px 0; }
  @media (min-width: 980px) {
    .block--views-cseu-block-frontpage-news-block .cseu-block-frontpage-row,
    .block--views-cseu-block-fp-events-block .cseu-block-frontpage-row {
      height: 280px;
      overflow: hidden; } }
  .block--views-cseu-block-frontpage-news-block .cseu-block-frontpage-row span.cseu-block-frontpage-row-date,
  .block--views-cseu-block-fp-events-block .cseu-block-frontpage-row span.cseu-block-frontpage-row-date {
    background-color: #E07B00;
    padding: 4px 8px;
    color: #FFF;
    font-size: 18px; }
  .block--views-cseu-block-frontpage-news-block .cseu-block-frontpage-row h3,
  .block--views-cseu-block-fp-events-block .cseu-block-frontpage-row h3 {
    font-size: 18px;
    line-height: 1.4;
    margin: 0;
    margin-top: 12px; }
  .block--views-cseu-block-frontpage-news-block .cseu-block-frontpage-row p,
  .block--views-cseu-block-fp-events-block .cseu-block-frontpage-row p {
    margin: 0;
    margin-top: 8px;
    line-height: 1.4; }

.block--views-cseu-block-frontpage-news-block .view-footer a,
.block--views-cseu-block-fp-events-block .view-footer a {
  font-weight: bold;
  color: #E07B00; }

@media (min-width: 980px) {
  .cseu-block-frontpage-news-row {
    background-repeat: no-repeat;
    background-size: 100px 280px;
    padding-left: 108px; }
    .cseu-block-frontpage-news-row:nth-of-type(1) {
      background-image: url("../images/halbewabenews1.png"); }
    .cseu-block-frontpage-news-row:nth-of-type(2) {
      background-image: url("../images/halbewabenews2.png"); } }

.cseu-block-frontpage-news-row:nth-of-type(1) {
  margin-bottom: 20px; }

.not-front .region--news-block-heading {
  display: none; }

.view-cseu-wgs-list-view .view-display-id-news {
  clear: both;
  padding-top: 20px; }
  .view-cseu-wgs-list-view .view-display-id-news .ui-accordion .ui-accordion-content-active .node--article--teaser:last-child {
    border-bottom: none; }

.view-cseu-wg-resources-list .ui-accordion .ui-accordion-content-active .node--article--teaser:last-child {
  border-bottom: none; }

.cseu-community-map-table-view {
  margin: 20px 0; }

.node--webform--full {
  width: 100%; }
  @media (max-width: 479px) {
    .node--webform--full label {
      display: block; }
    .node--webform--full .form-radios label {
      display: inline; } }
  @media (min-width: 480px) and (max-width: 979px) {
    .node--webform--full .form-radios,
    .node--webform--full .form-text,
    .node--webform--full .form-select {
      width: 50%;
      float: right; } }
  @media (min-width: 980px) {
    .node--webform--full .form-radios,
    .node--webform--full .form-text,
    .node--webform--full .form-select {
      width: 70%;
      float: right; } }
  .node--webform--full .node--cseu-event--cseu-ds-view-mode-event {
    margin-bottom: 1em;
    font-size: 110%; }
    .node--webform--full .node--cseu-event--cseu-ds-view-mode-event span.date-display-single {
      padding-left: 1em; }

input.form-text {
  margin: 0;
  border: none;
  width: 196px;
  height: 28px;
  background-color: #FAEAD6;
  border-bottom: 1px solid #E07B00; }

textarea.form-textarea {
  margin: 0;
  border: none;
  background-color: #FAEAD6;
  border-bottom: 1px solid #E07B00;
  max-width: 100%; }

.form-radios input[type=radio] {
  visibility: hidden;
  position: absolute; }

.form-radios input[type=radio] + label:before {
  height: 12px;
  width: 12px;
  margin-right: 8px;
  content: " ";
  display: inline-block;
  vertical-align: baseline;
  border: 1px solid #E07B00; }

.form-radios input[type=radio]:checked + label:before {
  border: 2px solid #E07B00;
  background: #FAEAD6; }

.form-radios input[type=radio] + label:before {
  border-radius: 50%; }

.form-radios input[type=checkbox] + label:before {
  border-radius: 2px; }

select.form-select {
  margin: 0;
  border: none;
  height: 28px;
  background-color: #FAEAD6;
  border-top: 1px solid #E07B00; }

div.chosen-container {
  margin: 0;
  border: none;
  height: 28px;
  background: #FAEAD6;
  border: 1px solid #E07B00; }
  div.chosen-container a.chosen-single {
    border: none;
    border-radius: unset;
    background: #FAEAD6;
    padding: 0 0 0 8px; }
    div.chosen-container a.chosen-single span {
      background: #FAEAD6; }
    div.chosen-container a.chosen-single div {
      border-left: 1px solid #E07B00;
      padding-left: 8px;
      width: 28px; }

input.form-submit {
  margin: 0;
  height: 28px;
  padding: 0 1em;
  cursor: pointer;
  border: none;
  color: #FFF;
  background-color: #E07B00; }

.webform-component {
  margin-top: 1.4em;
  clear: both; }
  .webform-component div.description {
    font-size: 80%;
    margin-bottom: 1em;
    clear: both; }

.page-node-361 ul.quicktabs-tabs {
  background-color: #FAEAD6; }
  .page-node-361 ul.quicktabs-tabs li {
    margin-right: 2em; }
    .page-node-361 ul.quicktabs-tabs li a {
      color: #A03800; }
    .page-node-361 ul.quicktabs-tabs li a:hover, .page-node-361 ul.quicktabs-tabs li a:focus {
      color: #A03800; }
  .page-node-361 ul.quicktabs-tabs li.active a {
    font-weight: bold; }

table {
  width: 100%;
  margin: 20px 0; }
  table th {
    color: rgba(0, 0, 0, 0.75);
    font-weight: bold;
    background: #FAEAD6;
    border-bottom-style: none; }
    table th a.active {
      color: #A03800;
      text-decoration: none; }
      table th a.active:hover {
        color: #A03800;
        text-decoration: underline; }
  table th,
  table td {
    padding: 8px;
    border: 1px solid #E07B00;
    text-align: left;
    vertical-align: middle; }
  table tr.even, table tr.odd {
    background: #EEE;
    transition: all, 0.15s; }
  table tr.odd {
    background: #FAFAFA; }

table.no-border th, table.no-border td {
  border: 0; }

@media (min-width: 980px) {
  .tb-megamenu {
    background-color: #E07B00; } }

.tb-megamenu .nav > li > a {
  font-weight: normal;
  padding: 8px 12px; }

.tb-megamenu .nav-collapse > .nav > li {
  background-color: #E07B00;
  margin-bottom: 0; }
  .tb-megamenu .nav-collapse > .nav > li > a {
    border-color: #FFF;
    color: #FFF;
    text-decoration: none; }
    .tb-megamenu .nav-collapse > .nav > li > a:hover, .tb-megamenu .nav-collapse > .nav > li > a:focus {
      color: #A03800;
      text-decoration: none;
      border-color: #FFF;
      background-color: #FAEAD6; }

.tb-megamenu .nav-collapse > .nav li.active > a {
  background-color: #FAEAD6;
  border-color: #FFF;
  color: #A03800;
  border-color: #FAEAD6; }
  .tb-megamenu .nav-collapse > .nav li.active > a:hover, .tb-megamenu .nav-collapse > .nav li.active > a:focus {
    color: #A03800;
    background-color: #FAEAD6;
    border-color: #FAEAD6; }

.tb-megamenu .nav-collapse > .nav li.level-2.active > a {
  filter: alpha(opacity=75);
  opacity: .75; }

.tb-megamenu .nav-collapse .dropdown-menu {
  background-color: #FAEAD6; }
  .tb-megamenu .nav-collapse .dropdown-menu a {
    color: #A03800;
    border-top: 1px solid #FAEAD6; }

.tb-megamenu .btn-navbar {
  margin-bottom: 0;
  width: 50px;
  height: 40px;
  color: #FAEAD6; }

.tb-megamenu .btn {
  font-size: 16px;
  line-height: 18px; }

@media (min-width: 480px) and (max-width: 979px) {
  .tb-megamenu .btn-navbar {
    width: 50px;
    height: 50px; }
  .tb-megamenu .btn {
    font-size: 24px;
    line-height: 24px; }
  .tb-megamenu .nav-collapse {
    margin-top: 24px; }
    .tb-megamenu .nav-collapse .nav li a {
      border-color: #FAEAD6; } }

.tb-megamenu .dropdown-menu {
  background-color: #FAEAD6;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #E07B00; }
  .tb-megamenu .dropdown-menu li > a {
    color: #A03800;
    text-decoration: none;
    background-color: #FAEAD6;
    border-top: 1px solid #FAEAD6; }
    .tb-megamenu .dropdown-menu li > a:hover, .tb-megamenu .dropdown-menu li > a:focus {
      color: #A03800;
      background-color: inherit;
      text-decoration: underline; }
  .tb-megamenu .dropdown-menu .active > a {
    background-image: none;
    background-color: #FAEAD6; }
    .tb-megamenu .dropdown-menu .active > a:hover, .tb-megamenu .dropdown-menu .active > a:focus {
      color: #A03800;
      background-image: none;
      background-color: inherit; }

.tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
  color: #A03800;
  background-color: #FAEAD6;
  border-color: #FAEAD6; }

.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #FAEAD6;
  color: #A03800;
  border-color: #FAEAD6; }

.tb-megamenu .nav > li.dropdown.open.active > a:hover {
  background-color: #FAEAD6;
  border-color: #FAEAD6;
  color: #A03800; }

.tb-megamenu .nav .dropdown .dropdown-toggle .caret {
  display: none; }

.tb-megamenu ul.tb-megamenu-subnav .nav-child li {
  background-color: #FAEAD6; }
  .tb-megamenu ul.tb-megamenu-subnav .nav-child li a {
    border-color: #FFF; }

.cseu-login-menu-block {
  background-color: #FAEAD6; }
  .cseu-login-menu-block a {
    color: #3457A0 !important;
    text-decoration: none; }
    .cseu-login-menu-block a:hover {
      color: #01A9B3 !important;
      text-decoration: underline; }
  .cseu-login-menu-block .form-submit {
    margin-top: 1em; }

.l-region--footer {
  background: #395CA4 url("../images/bg-footer.png") center center no-repeat;
  background-size: 100% 100%; }
  .l-region--footer .block--menu-menu-cseu-footer-bottom-menu {
    text-align: center;
    width: 100%;
    margin-top: 14px; }
    .l-region--footer .block--menu-menu-cseu-footer-bottom-menu a {
      color: #FFF;
      font-size: 12px;
      text-decoration: none; }
      .l-region--footer .block--menu-menu-cseu-footer-bottom-menu a:hover {
        color: #FFF;
        text-decoration: underline; }
      .l-region--footer .block--menu-menu-cseu-footer-bottom-menu a:active {
        color: #FFF; }
    .l-region--footer .block--menu-menu-cseu-footer-bottom-menu ul.menu {
      list-style-type: none;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      padding-left: 0;
      margin: 0; }
      .l-region--footer .block--menu-menu-cseu-footer-bottom-menu ul.menu li {
        display: inline-block;
        margin: 0 1em; }
        @media (max-width: 479px) {
          .l-region--footer .block--menu-menu-cseu-footer-bottom-menu ul.menu li {
            margin: 0 0.5em; } }
  .l-region--footer .cseu-footer-social-links {
    text-align: center;
    width: 100%;
    margin: 0;
    margin-top: 24px; }
    .l-region--footer .cseu-footer-social-links ul.cseu-social-links-bottom {
      list-style-type: none;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      padding-left: 0;
      margin: 0; }
      .l-region--footer .cseu-footer-social-links ul.cseu-social-links-bottom li {
        display: inline-block;
        height: 40px;
        width: 40px;
        margin-right: 2px;
        margin-bottom: 0;
        background-color: #FFF;
        font-size: 24px;
        margin-left: 24px; }
  @media (max-width: 479px) {
    .l-region--footer #block-cseu-blocks-builder-footer-logos {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      margin: 14px 0; } }
  @media (min-width: 480px) and (max-width: 979px) {
    .l-region--footer #block-cseu-blocks-builder-footer-logos {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      margin: 14px 0; } }
  @media (min-width: 980px) {
    .l-region--footer {
      position: relative;
      height: 144px; }
      .l-region--footer #block-cseu-blocks-builder-footer-logos {
        position: absolute;
        top: 24px;
        left: 14px; } }
  .l-region--footer .cseu-footer-banner-cost {
    max-width: 226px;
    height: auto; }
    .l-region--footer .cseu-footer-banner-cost img {
      max-width: 226px;
      height: auto; }

@media (max-width: 479px) {
  #search-block-form {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999999;
    width: 173px;
    margin-right: 14px;
    margin-top: 12px;
    -webkit-font-smoothing: antialiased; }
    #search-block-form .cseu-search-container {
      margin: 0;
      background-color: #E07B00;
      float: right; }
      #search-block-form .cseu-search-container a span {
        display: block;
        text-indent: -9999px;
        cursor: pointer;
        border: none;
        background: url("../images/search-icon-white.svg") center center no-repeat;
        background-size: 70% 70%;
        height: 46px;
        width: 48px;
        margin: 0; }
    #search-block-form .container-inline {
      display: none;
      height: 46px;
      width: 173px;
      background-color: #E07B00;
      float: left; }
    #search-block-form input.form-text {
      display: none; }
    #search-block-form input.form-submit {
      display: none; }
  #search-block-form:hover .container-inline {
    display: block;
    height: 46px;
    width: 173px;
    background-color: #E07B00;
    float: left; }
  #search-block-form:hover input.form-text {
    display: inline-block;
    height: 28px;
    margin-top: 10px;
    margin-left: 14px; }
  #search-block-form:hover input.form-submit {
    display: inline-block;
    margin: 0;
    height: 46px;
    width: 58px;
    cursor: pointer;
    border: none;
    float: right;
    color: #FFF;
    font-weight: bold;
    background-color: #E07B00; }
  .form-item-search-block-form input.form-text {
    width: 100px;
    background-color: #FAEAD6;
    border-bottom: 1px solid #E07B00;
    margin-right: 1px;
    transition: width .55s ease; }
  .form-item-search-block-form input:-webkit-input-placeholder {
    color: #65737e; }
  .form-item-search-block-form input:-moz-placeholder {
    color: #65737e; }
  .form-item-search-block-form input:-ms-input-placeholder {
    color: #65737e; }
  .form-item-search-block-form input.form-text:focus,
  .form-item-search-block-form input.form-text:active {
    outline: none;
    width: 100px; } }

@media (min-width: 480px) and (max-width: 979px) {
  #block-search-form {
    display: inline-block;
    width: 100%;
    height: 28px; }
  #search-block-form {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999999;
    float: right;
    margin-right: 1em;
    margin-top: 32px; }
    #search-block-form input.form-text {
      margin: 0;
      border: none;
      width: 100px;
      height: 28px;
      background-color: #FAEAD6;
      border-bottom: 1px solid #E07B00;
      margin-right: 1px; }
    #search-block-form input.form-submit {
      margin: 0;
      height: 28px;
      padding: 0 14px;
      color: #FFF;
      text-indent: -9999px;
      cursor: pointer;
      border: none;
      background: url("../images/search-icon-white.svg") center center no-repeat;
      background-size: 50% 50%;
      background-color: #E07B00; } }

@media (min-width: 980px) {
  #block-search-form {
    display: inline-block;
    width: 100%;
    margin-top: 32px;
    height: 28px; }
  #search-block-form {
    float: right;
    margin-right: 14px; }
    #search-block-form input.form-text {
      margin: 0;
      border: none;
      width: 196px;
      height: 28px;
      background-color: #FAEAD6;
      border-bottom: 1px solid #E07B00;
      margin-right: 1px; }
    #search-block-form input.form-submit {
      margin: 0;
      height: 28px;
      padding: 0 8px;
      cursor: pointer;
      border: none;
      color: #FFF;
      background-color: #E07B00; } }

#search-form input.form-text {
  margin: 0;
  border: none;
  width: 392px;
  height: 28px;
  background-color: #FAEAD6;
  border-bottom: 1px solid #E07B00;
  margin-right: 1px; }
  @media (max-width: 479px) {
    #search-form input.form-text {
      width: 100px; } }

#search-form input.form-submit {
  margin: 0;
  height: 28px;
  padding: 0 8px;
  cursor: pointer;
  border: none;
  color: #FFF;
  background-color: #E07B00; }
  @media (max-width: 479px) {
    #search-form input.form-submit {
      width: 100px; } }

#search-form .form-item-keys label {
  display: block; }

.mean-container .mean-bar {
  background: none;
  padding: 2px 0; }

.mean-container a.meanmenu-reveal {
  background-color: #E07B00;
  margin-left: 12px;
  margin-top: 12px; }

.mean-container .mean-nav {
  background-color: #E07B00;
  margin-top: 56px; }
  .mean-container .mean-nav ul li {
    margin-bottom: 0; }
    .mean-container .mean-nav ul li a,
    .mean-container .mean-nav ul li li a {
      border-top: 1px solid #FFF;
      padding: 8px 5%; }
    .mean-container .mean-nav ul li a.mean-expand {
      margin-top: 1px;
      width: 26px;
      height: 26px;
      padding: 8px !important;
      border-left: 1px solid #FFF !important;
      border-bottom: 1px solid #FFF !important; }
      .mean-container .mean-nav ul li a.mean-expand:hover {
        background: none;
        background-color: #E07B00; }
