.l-page,
.l-header,
.l-main,
.l-footer,
.l-content,
.l-region--navigation,
.l-region--highlighted,
.l-region--featured,
.l-region--slider,
.l-region--misc,
.l-region--footer-bottom {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

.l-page,
.l-main,
.l-footer,
.l-content,
.l-region--highlighted,
.l-region--featured,
.l-region--slider,
.l-region--misc,
.l-region--footer-bottom {
  margin-bottom: 20px; }

@media (min-width: 540px) {
  .l-branding {
    width: 33.05785%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .l-region--header {
    width: 66.1157%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: none; }
  .l-region--navigation {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: both; } }

@media (min-width: 980px) {
  .l-branding {
    width: 24.84472%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .l-region--header {
    width: 74.53416%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: none; }
  .l-region--navigation {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: both; } }

@media (min-width: 540px) {
  .l-region--footer-first {
    width: 45.45455%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .l-region--footer-second,
  .l-region--footer-fourth {
    width: 45.45455%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  .l-region--footer-third {
    width: 45.45455%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: both; } }

@media (min-width: 980px) {
  .l-region--footer-first {
    width: 24.09639%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .l-region--footer-second {
    width: 24.09639%;
    float: left;
    margin-right: -100%;
    margin-left: 25.3012%;
    clear: none; }
  .l-region--footer-third {
    width: 24.09639%;
    float: left;
    margin-right: -100%;
    margin-left: 50.60241%;
    clear: none; }
  .l-region--footer-fourth {
    width: 24.09639%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

* {
  box-sizing: border-box; }

h1 {
  font-size: 32px;
  margin-top: 0.67em;
  margin-bottom: 0.67em; }

h2 {
  font-size: 24px;
  margin-top: 0.83em;
  margin-bottom: 0.83em; }

h3 {
  font-size: 18px;
  margin-top: 1em;
  margin-bottom: 1em; }

h4 {
  font-size: 16px;
  margin-top: 1.33em;
  margin-bottom: 1.33em; }

h5 {
  font-size: 13px;
  margin-top: 1.67em;
  margin-bottom: 1.67em; }

h6 {
  font-size: 11px;
  margin-top: 2.33em;
  margin-bottom: 2.33em; }

p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
  color: black;
  margin-top: 0em;
  margin-bottom: 0.7em;
  text-align: left; }

strong {
  font-weight: bold; }

ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px; }

li {
  display: list-item;
  margin-bottom: 0.7em;
  font-size: 16px; }

.l-branding {
  padding: 20px 1em; }
  .l-branding img {
    width: 100%;
    max-width: 252px;
    min-width: 252px; }
    @media (min-width: 980px) {
      .l-branding img {
        max-width: 100%; } }

.l-region--header {
  padding: 0 1em; }

@media (min-width: 980px) {
  .l-header {
    margin-bottom: 20px; } }

.l-region--navigation {
  padding: 0 1em; }

.l-content {
  padding: 0 1em; }

.l-region--footer-first,
.l-region--footer-second,
.l-region--footer-third,
.l-region--footer-fourth {
  padding: 0 1em; }

.block__content a[href],
.node__content a[href],
.taxonomy-term__content a[href],
.view-content a[href],
.node-readmore a[href] {
  color: #01a9b3;
  text-decoration: none; }
  .block__content a[href]:hover,
  .node__content a[href]:hover,
  .taxonomy-term__content a[href]:hover,
  .view-content a[href]:hover,
  .node-readmore a[href]:hover {
    color: #02d6e2;
    text-decoration: underline; }

h1 > a,
h2 > a,
h3 > a,
h4 > a {
  color: #27688e;
  text-decoration: none; }

@media (min-width: 980px) {
  .tb-megamenu {
    background-color: #000; } }

.tb-megamenu .nav-collapse > .nav > li {
  margin-bottom: 0; }
  .tb-megamenu .nav-collapse > .nav > li > a:hover {
    color: #333;
    background-color: rgba(255, 255, 255, 0.7); }

.tb-megamenu .nav-collapse > .nav li.active > a {
  background-color: #68696b; }
  .tb-megamenu .nav-collapse > .nav li.active > a:hover, .tb-megamenu .nav-collapse > .nav li.active > a:focus {
    color: white;
    background-color: #68696b; }

.tb-megamenu .btn-navbar {
  margin-bottom: 0;
  width: 50px;
  height: 40px;
  color: #68696b; }

.tb-megamenu .btn {
  font-size: 16px;
  line-height: 18px; }

@media (min-width: 540px) {
  .tb-megamenu .btn-navbar {
    width: 50px;
    height: 50px; }
  .tb-megamenu .btn {
    font-size: 24px;
    line-height: 24px; } }
