//
// Frontpage
//
.l-region--disruptive {
  .block--views-cseu-block-disruptive-block {
    background: #A03800 url("../../../images/bg-disruptive.png") center center no-repeat;
    background-size: 100% 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #FFF;
    h2 {
      margin: 0;
      padding-top: 8px;
      text-transform: uppercase;
    }
    .cseu-block-frontpage-disruptive-row {
      width: 90%;
      padding: 0 1em;
      padding-bottom: 8px;
      margin: 0 auto;
      h3 {
        margin: 0;
        margin-bottom: 8px;
        line-height: 1.2;
      }
      p {
        color: inherit;
        filter: alpha(opacity=75);
        opacity: 0.75;
      }
      a {
        color: inherit;
        text-decoration: underline;
      }
    }
  }
  padding-bottom: $vert-spacing-unit;
  @include breakpoint($desk) {
    padding-top: $vert-spacing-unit;
  }
}

