//
// Frontpage
//
.l-region--disruptive {
  .block--views-cseu-block-disruptive-block {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    h2 {
      margin: 0;
      letter-spacing: 0.02em;
    }
    .cseu-block-frontpage-disruptive-row {
      width: 90%;
      margin: 0 auto;
      a {
        color: inherit;
        text-decoration: underline;
      }
    }
  }
  padding: $vert-spacing-unit 0;
}

