//
// Frontpage
//
.block--views-cseu-events-calendar-view-up,
.block--views-cseu-events-calendar-view-upcal {
  position: relative;

  ul {
    list-style-type: none;
    padding :0px;
    .cseu-event-heading {
      font-weight: bold;
      background-color: $frontpage-heading-bg;
      &>a {
        color: white;
        text-decoration: none;
      }
    }
    .cseu-event-date {
      display: inline-block;
      margin-right: 5px;
    }
    .cseu-event-venue {
      display: inline-block;
      margin-left: 5px;
    }
    .cseu-event-title a {
      text-decoration: none;
      color: $text-color;
    }
    .cseu-event-title a:visited {
      color: $text-color;
    }
  }

  .cseu-event-heading,
  .cseu-event-title {
    padding: 10px;
  }

  .more-link {
    @include frontpage-readmore-nav;
    text-align: right;
    a {
      @include frontpage-readmore-nav-link;
    }
  }

  .view-content {
    border-bottom: $separator-width solid $separator-color;
  }
}



//
// Pages
//
.page-events .view-display-id-all,
.page-events .view-display-id-past {
  h3 {
    font-weight: bold;
  }
}
.page-events .view-display-id-all,
.page-events .view-display-id-past,
.page-wgs-events .view-cseu-wg-events-list {
  @include breakpoint($mobile) {
    .cseu-event-category {
      display: none;
    }
  }
  @include breakpoint($tab) {
    @include layout(2 6, 0.1) {
      .cseu-events-calendar-row {
        @include grid-span(2, 1);
      }
      .cseu-event-category {
        @include grid-span(1, 2);
      }      
      .cseu-event-date {
        @include grid-span(1, 1);
        clear: both;
      }
      .cseu-event-content {
        @include grid-span(1, 2);
      }
    }
    .cseu-event-category-mobile {
      display: none;
    }
  }
  @include breakpoint($desk) {
    @include layout(1 7, 0.05) {
      .cseu-events-calendar-row {
        @include grid-span(2, 1);
      }
      .cseu-event-category {
        @include grid-span(1, 2);
      }
      .cseu-event-date {
        @include grid-span(1, 1);
        clear: both;
      }
      .cseu-event-content {
        @include grid-span(1, 2);
      }
    }
    .cseu-event-category-mobile {
      display: none;
    }
  }
}

.page-wgs-events .view-cseu-wg-events-list {
  @include breakpoint($desk) {
	.cseu-event-title,
	.cseu-event-venue {
	  padding-left: 2em;
    }
  }
}
.node--cseu-event {
  .field--name-field-cseu-event-date {
    margin-bottom: 0.7em;
    font-size: 110%;
  }
  .field--name-field-cseu-event-type {
    margin-bottom: 0.7em;
  }
  .field--name-field-cseu-event-venue {
    margin-bottom: 0.7em;
  }
  .field--name-field-cseu-event-geofield {
    margin-bottom: $vert-spacing-unit;
  }
  .cseu-event-register-form {
    margin: $vert-spacing-unit 0;
    .field__label {
      background-color: $chairs_bg_color;
      color: #FFF;
      padding: .5em .7em;
    }
    .field__items {
      background-color: $chairs_bg_color;
      color: #FFF;
      padding: .5em .7em;
      a {
        color: #FFF;
        text-decoration: underline;
      }
    }
  }
}

.cseu-events-calendar-row,
.node--cseu-event--teaser {
  margin-top: 1em;
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: $separator-width solid $separator-color;
}

.view-cseu-wg-events-list {
  .ui-accordion {
    .ui-accordion-content-active {
      .cseu-events-calendar-row:last-child {
        border-bottom: none;
      }
    }
  }
}

.cseu-event-category {
  @include breakpoint($desk) {
    padding-left: 2.5em;
  }
}
.cseu-event-category-43,
.cseu-event-category-44 {
    font-weight: bold;
    font-size: 80%;
}
.cseu-event-category-43 {
    color: $internal-event;
}
.cseu-event-category-44 {
    color: $external-event;
}

.page-events {
  ul.tabs--primary {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    li {
      display: inline-block;
      list-style: none;
      a {
        background-color: $event-tab-bg-color;
        color: $event-tab-link-color;
      }
    }
    li.active {
      a {
        background-color: $event-tab-bg-active-color;
        font-weight: bold;
      }      
    }
    li:not(:last-of-type) {
      margin: 0 8px;
    }
    li:last-of-type {
      margin-left: auto;
    }
  }
}




