.l-region--footer {
  background: $footer_bg_color url("../images/bg-footer.png") center center no-repeat;
  background-size: 100% 100%;
      
  .block--menu-menu-cseu-footer-bottom-menu {
    @include footer-menu;
    text-align: center;
    width: 100%;
    margin-top: 14px;
    ul.menu {
      list-style-type: none;
      display: flex;
      justify-content: center;
      padding-left: 0;
      margin: 0;
      li {
        display: inline-block;
        margin: 0 1em;
        @include breakpoint($mobile) {
          margin: 0 0.5em;
        }
      }
    }    
  }
  .cseu-footer-social-links {
    text-align: center;
    width: 100%;
    margin: 0;
    margin-top: 24px;
    ul.cseu-social-links-bottom {
      list-style-type: none;
      display: flex;
      justify-content: center;
      padding-left: 0;
      margin: 0;
      li {
        display: inline-block;
        height: 40px;
        width: 40px;
        margin-right: 2px;
        margin-bottom: 0;
        background-color: #FFF;
        font-size: 24px;
      }
    }       
  }
  
  @include breakpoint($mobile) {
    #block-cseu-blocks-builder-footer-logos {
      display: flex;
      justify-content: center;
      margin: 14px 0;
    }
  }
  @include breakpoint($tab) {
    #block-cseu-blocks-builder-footer-logos {
      display: flex;
      justify-content: center;
      margin: 14px 0;
    }
  }
  @include breakpoint($desk) {
    position: relative;
    height: 144px;
    #block-cseu-blocks-builder-footer-logos {
      position: absolute;
      top: 24px;
      left: 14px;
    }
  }
  
  .cseu-footer-banner-cost {
    max-width: 226px;
    height: auto;
    img {
      max-width: 226px;
      height: auto;
    }
  }
  
}