.node--webform--full {
  width: 100%;
  @include breakpoint($mobile) {
    label {
      display: block;
    }
    .form-radios {
      label {
        display: inline;
      }
    }
  }  
  @include breakpoint($tab) {
    .form-radios,
    .form-text,
    .form-select {
      width: 50%;
      float: right;
    }
  }
  @include breakpoint($desk) {
    .form-radios,
    .form-text,
    .form-select {
      width: 70%;
      float: right;
    }
  }
  .node--cseu-event--cseu-ds-view-mode-event {
    margin-bottom: 1em;
    font-size: 110%;
    span.date-display-single {
      padding-left: 1em;
    }
  }
}

// Forms
input.form-text {
  margin: 0;
  border: none;
  width: 196px;
  height: 28px;
  background-color: $main-menu-bg-hover-color;
  border-bottom: 1px solid $main-menu-bg-color;
}
textarea.form-textarea {
  margin: 0;
  border: none;
  background-color: $main-menu-bg-hover-color;
  border-bottom: 1px solid $main-menu-bg-color;
  max-width: 100%;
}
.form-radios {
  input[type=radio] {
    visibility: hidden;
    position: absolute;
  }
  input[type=radio] + label:before {
    height:12px;
    width:12px;
    margin-right: 8px;
    content: " ";
    display:inline-block;
    vertical-align: baseline;
    border: 1px solid $main-menu-bg-color;
  }
  input[type=radio]:checked + label:before {
    border: 2px solid $main-menu-bg-color;
    background: $main-menu-bg-hover-color;
  }
  input[type=radio] + label:before{
    border-radius:50%;
  }
  input[type=checkbox] + label:before{
    border-radius:2px;
  }
}
select.form-select {
  margin: 0;
  border: none;
  height: 28px;
  background-color: $main-menu-bg-hover-color;
  border-top: 1px solid $main-menu-bg-color;
}
div.chosen-container {
  margin: 0;
  border: none;
  height: 28px;
  background: $main-menu-bg-hover-color;
  border: 1px solid $main-menu-bg-color;
  a.chosen-single {
    border: none;
    border-radius: unset;
    background: $main-menu-bg-hover-color;
    padding: 0 0 0 8px;
    span {
        background: $main-menu-bg-hover-color;
    }
    div {
      border-left: 1px solid $main-menu-bg-color;
      padding-left: 8px;
      width: 28px;
    }
  }
}
input.form-submit {
  margin: 0;
  height: 28px;
  padding: 0 1em;
  cursor: pointer;
  border: none;
  color: #FFF;
  background-color: $main-menu-bg-color;
}


