.mean-container {
  .mean-bar {
    background: none;
    margin-top: 14px;
    margin-left: 12px;
  }
  a.meanmenu-reveal {
    background-color: $main-menu-bg-color;
    padding: 15px 15px 15px;
  }
  .mean-nav {
    margin-left: -12px;
    margin-top: 52px;
  }
}

.site-logo {
  text-align: center;
}
