// Images
.file-image {
  max-width: 100%;
  img {
    padding-bottom: 8px;
    max-width: 100%;
    height: auto;
  }
  .field--name-field-file-image-caption-text > div > div {
    font-size: $caption-font-size;
    line-height: $caption-line-height;
  }
  .field--name-field-file-image-credit-text > div > div {
    font-size: $credit-font-size;
    line-height: $credit-line-height;
    margin-bottom: 8px;
  }
}
img.file-media-cseu-cover-photo {
  width: 100%;
  max-width: $max-screen-width;
  padding-bottom: 0;
}

// File icons
.file-icon {
  padding-right: 4px;
}


// Documents
.file-document,
.file-undefined {
  margin: 8px 0;
  .file {
    display: table;
    .file-icon {
      display: table-cell;
      padding: 0;
      margin: 0;
      margin-right: 8px;
      img {
        height: 45px;
        vertical-align: top;
      }
    }
    .file-link {
      display: table-cell;
      vertical-align: top;
      padding: 0;
      margin: 0;
    }
  }//file
  .field--name-field-description {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 90%;
  }
}