.l-region--footer-bottom {
  @include footer-menu;
  .block--menu-menu-cseu-footer-bottom-menu {
    text-align: center;
    width: 100%;
    ul.menu {
      list-style-type: none;
      display: flex;
      justify-content: center;
      li {
        display: inline-block;
        margin: 0 1em;
      }
    }    
  }
}