// News
.l-region--news {
  @include breakpoint($mobile, true) {
    @include layout(1) {
      #block-views-cseu-block-frontpage-news-block,
      #block-views-cseu-block-fp-events-block {
        @include grid-span(1, 1);
        margin-bottom: $vert-spacing-unit;
      }
    }
  }
  @include breakpoint($tab, true) {
    @include layout(1) {
      #block-views-cseu-block-frontpage-news-block,
      #block-views-cseu-block-fp-events-block {
        @include grid-span(1, 1);
        margin-bottom: $vert-spacing-unit;
      }
    }
  }
  @include breakpoint($desk, true) {
    @include layout(4 2) {
      #block-views-cseu-block-frontpage-news-block {
        @include grid-span(1, 2);
        //clear: both;
      }
      #block-views-cseu-block-fp-events-block {
        @include grid-span(1, 1);
      }
    }
  }
  margin-bottom: $vert-spacing-unit;
}

//
// Frontpage
//
.block--views-cseu-block-frontpage-news-block,
.block--views-cseu-block-fp-events-block {
  h2.block__title {
    margin: 0;
    padding-left: $horz-spacing-unit;
    background-color: $frontpage-heading-bg;
    color: #FFF;
  }  
  .cseu-block-frontpage-row {
    margin: 12px 0;
    @include breakpoint($desk) {
      height: 280px;
      overflow:hidden;
    }    
    span.cseu-block-frontpage-row-date {
      background-color: $frontpage-heading-bg;
      padding: 4px 8px;
      color: #FFF;
      font-size: 18px;
    }
    h3 {
      font-size: 18px;
      line-height: 1.4;
      margin: 0;
      margin-top: 12px;
    }
    p {
      margin: 0;
      margin-top: 8px;
      line-height: 1.4;
    }
  }
  .view-footer {
    a {
      //text-decoration: underline;
      font-weight: bold;
      color: $frontpage-heading-bg;
    }
  }
}
.cseu-block-frontpage-news-row {
  @include breakpoint($desk) {
    background-repeat: no-repeat;
    background-size: 100px 280px;
    &:nth-of-type(1) {
      background-image: url('../images/halbewabenews1.png');
    }
    &:nth-of-type(2) {
      background-image: url('../images/halbewabenews2.png');
    }
    padding-left: 108px;
  }
  &:nth-of-type(1) {
    margin-bottom: $vert-spacing-unit;
  }
}


//
// Pages
//
.not-front {
  .region--news-block-heading {
    display: none;
  }
}

.view-cseu-wgs-list-view {
  .view-display-id-news {
    clear: both;
    padding-top: $vert-spacing-unit;
    .ui-accordion {
      .ui-accordion-content-active {
        .node--article--teaser:last-child {
          border-bottom: none;
        }
      }
    }
  }

}
