// News
.l-region--news {
  @include breakpoint($mobile, true) {
    @include layout(1) {
      #block-views-cseu-block-frontpage-news-block,
      #block-views-cseu-events-calendar-view-up {
        @include grid-span(1, 1);
      }
    }
  }
  @include breakpoint($tab, true) {
    @include layout(2, 0.1) {
      #block-views-cseu-block-frontpage-news-block {
        @include grid-span(1, 1);
      }
      #block-views-cseu-events-calendar-view-up {
        @include grid-span(1, 2);
      }   
    }
  }
  @include breakpoint($desk, true) {
    @include layout(2) {
      #block-views-cseu-block-frontpage-news-block {
        @include grid-span(1, 1);
      }
      #block-views-cseu-events-calendar-view-up {
        @include grid-span(1, 2);
      }   
    }
  }
}

//
// Frontpage
//
.block--views-cseu-block-frontpage-news-block {
  .view-content {
    border-bottom: $separator-width solid $separator-color;
  }
  .more-link {
    @include frontpage-readmore-nav;
    text-align: right;
    a {
      @include frontpage-readmore-nav-link;
    }
  }
}
.cseu-block-frontpage-row {
  font-size: $frontpage-list-title-font-size;
  line-height: $frontpage-list-title-line-height;
  padding-bottom: 1em;
  .cseu-block-frontpage-title {
    a {
      color: $link_heading_color;
      text-decoration: none;
    }
  }
}

//
// Pages
//
.cseu-teasers-row {
  margin-top: 1em;
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: $separator-width solid $separator-color;
}



