// Mobile
@include breakpoint($mobile) {
  #search-block-form {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999999;
    height: 46px;
    width: 48px;
    margin-right: 14px;
    margin-top: 12px;
    background-color: $main-menu-bg-color;
    -webkit-font-smoothing: antialiased;
    input.form-text  {
      display: none;
    }
    input.form-submit {
      margin: 0;
      height: 46px;
      width: 48px;   
      text-indent: -9999px;
      cursor: pointer;
      border: none;
      background:url("../images/search-icon.svg") center center no-repeat;
      background-color: $main-menu-bg-color;
    }
  }
  #search-block-form:hover {
    width: 163px;
    input.form-text  {
      display: inline-block;
      height: 28px;
      margin-top: 10px;
      margin-left: 14px;
    }
    input.form-submit {
      background:url("../images/search-icon.svg") center center no-repeat;
      background-position: right middle;
      float: right;
    }    
  }
  .form-item-search-block-form input.form-text{
    width: 100px;
    background-color: $main-menu-bg-hover-color;
    border-bottom: 1px solid $dropdown-hover-border-bottom-color;
    margin-right: 1px;
    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
  }
  .form-item-search-block-form input:-webkit-input-placeholder {color: #65737e;}
  .form-item-search-block-form input:-moz-placeholder {color: #65737e;}
  .form-item-search-block-form input:-ms-input-placeholder {color: #65737e;}
  .form-item-search-block-form input.form-text:focus,
  .form-item-search-block-form input.form-text:active{
    outline:none;
    width: 100px;
  }


}

// Tab
@include breakpoint($tab) {
  #block-search-form {
    display: inline-block;
    width: 100%;
    height: 28px;
  }
  #search-block-form {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999999;
    float: right;
    margin-right: 1em;
    margin-top: 32px;
    input.form-text {
      margin: 0;
      border: none;
      width: 100px;
      height: 28px;
      background-color: $main-menu-bg-hover-color;
      border-bottom: 1px solid $main-menu-bg-color;
      margin-right: 1px;
    }
    input.form-submit {
      margin: 0;
      height: 28px;
      padding: 0 14px;
      color: #FFF;
      
      text-indent: -9999px;
      cursor: pointer;
      border: none;
      background:url("../images/search-icon.svg") center center no-repeat;
      background-color: $main-menu-bg-color;
      
    }
  }
}

// Desktop
@include breakpoint($desk) {
  #block-search-form {
    display: inline-block;
    width: 100%;
    margin-top: 32px;
    height: 28px;
  }
  #search-block-form {
    float: right;
    margin-right: 14px;
    input.form-text {
      margin: 0;
      border: none;
      width: 196px;
      height: 28px;
      background-color: $main-menu-bg-hover-color;
      border-bottom: 1px solid $main-menu-bg-color;
      margin-right: 1px;
    }
    input.form-submit {
      margin: 0;
      height: 28px;
      padding: 0 8px;
      cursor: pointer;
      border: none;
      color: #FFF;
      background-color: $main-menu-bg-color;
    }
  }
}

// 
// Page
//
#search-form {
  input.form-text {
      margin: 0;
      border: none;
      width: 392px;
      height: 28px;
      background-color: $main-menu-bg-hover-color;
      border-bottom: 1px solid $main-menu-bg-color;
      margin-right: 1px;
      @include breakpoint($mobile) {
        width: 100px;
      }      
  }
  input.form-submit {
      margin: 0;
      height: 28px;
      padding: 0 8px;
      cursor: pointer;
      border: none;
      color: #FFF;
      background-color: $main-menu-bg-color;
      @include breakpoint($mobile) {
        width: 100px;
      }
  }
  .form-item-keys label {
    display: block;
  }
}


