table.views-table   {
  width: 100%;
  tr {
    th {
      color: $table_th_color;
      font-weight: bold;
      background: $table_th_bg_color;
      border-bottom-style: none;
      a.active {
        color: $table_th_link_color;
        text-decoration: none;
        &:hover {
          color: $table_th_link_color;
          text-decoration: underline;
        }
      }
    }
    th,
    td {
      padding: 8px;
      border: 1px solid $table_border_color;
      text-align: left;
    }    
  }  
}

.feed-icon {
  margin-top: 1em;
}
