.tb-megamenu {
  @include breakpoint($desk, true) {
    background-color: $navigation-bg-color;
  }

  .nav > li > a {
    font-weight: normal;
    padding: 8px 12px;
  }

  .nav-collapse {
    > .nav {
      > {
        li {
          background-color: $main-menu-bg-color;
          margin-bottom: 0;
          > a {
            border-color: $main-menu-border-color;
            color: $main-menu-color;
            text-decoration: none;
            //font-weight: normal;
            &:hover, &:focus {
              color: $main-menu-hover-color;
              text-decoration: none;
              border-color: $navigation-border-color;
              background-color: $main-menu-bg-hover-color;
            }
            
          }
        }
      }
      li.active > a {
        background-color: $main-menu-bg-active-color;
        border-color: $main-menu-border-color;
        //font-weight: normal;
        color: $main-menu-active-color;
        border-color: $main-menu-bg-active-color;
        &:hover, &:focus {
          color: $main_menu_hover_active_color;
          background-color: $main-menu-bg-active-color;
          border-color: $main-menu-bg-active-color;
        }
      }
      li.level-2.active >  a {
        filter: alpha(opacity=75);
        opacity: .75;
      } 
    }
    .dropdown-menu {
      background-color: $dropdown-bg-color;
      a {
       color: $dropdown-color; 
       border-top: 1px solid $main-menu-bg-active-color;
      }
    }
  }
  
  .btn-navbar {
    margin-bottom: 0;
    width: 50px;
    height: 40px;
    color: $main-menu-bg-active-color;
  }
  .btn {
    font-size: 16px;
    line-height: 18px;
  }
  
  @include breakpoint($tab, true) {
    .btn-navbar {
      width: 50px;
      height: 50px;
    }
    .btn {
      font-size: 24px;
      line-height: 24px;
    }
    .nav-collapse {
      margin-top: 24px;
      .nav {
        li {
          a {
            border-color: $main-menu-bg-active-color;
          }
        }
      }
    }
  }  
  
  .dropdown-menu {
    background-color: $dropdown-bg-color;
    border-top: 1px solid $dropdown-hover-border-top-color;
    border-bottom: 1px solid $dropdown-hover-border-bottom-color;
    li > a {
      color: $dropdown-color;
      text-decoration: none;
      background-color: $dropdown-bg-color;
      border-top: 1px solid $navigation-shadow-color;
      //font-weight: normal;
      &:hover, &:focus {
        color: $dropdown-hover-color;
        background-color: inherit;
        text-decoration: underline;
      }
    }
    .active > a {
      background-image: none;
      background-color: $dropdown-bg-color;
      //font-weight: normal;
      &:hover, &:focus {
        color: $dropdown-hover-color;
        background-image: none;
        background-color: inherit;
      }
    }
  }
  
  .nav li.dropdown {
    &.open > .dropdown-toggle {
      color: $main-menu-hover-color;
      background-color: $main-menu-bg-hover-color;
      border-color: $main-menu-bg-active-color;
    }
    &.active > .dropdown-toggle, &.open.active > .dropdown-toggle {
      background-color: $main-menu-bg-active-color;
      color: $dropdown-color;
      border-color: $main-menu-bg-active-color;
    }
  }
  .nav {
    > li.dropdown.open.active {
      > a {
        &:hover {
          background-color: $main-menu-bg-active-color;
          border-color: $main-menu-bg-active-color;
          color: $main-menu-active-color;
        }
      }
    }
    .dropdown {
      .dropdown-toggle {
        .caret {
          display: none;
        }
      }
    }
  } //.nav
  
  ul.tb-megamenu-subnav .nav-child{
    li {
      background-color: $dropdown-bg-color;
      a {
        border-color: $main-menu-border-color;
      }
    }    
  }
}//.tb-megamenu


.tb-megamenu-main-menu {
  .tb-megamenu-nav {
    li.tb-megamenu-item:last-child {
      a {
        border-right-color: $navigation-bg-color;  
      }
    }
  }
}


// Login block
.cseu-login-menu-block {
  background-color: $block_bg_color;
  a {
    color: $link_color !important;
    text-decoration: none;
    &:hover {
      color: $link_hover_color !important;
      text-decoration: underline;
    }    
  }
  .form-submit {
    margin-top: 1em;
  }
}


