$body_bg_color: #FFF;

$link_color: #01a9b3;
$link_hover_color: #02d6e2;
//$link_heading_color: #02aab3;
$link_heading_color: #27688e;

$main_menu_bg_color: #000;
$main_menu_bg_active_color: #68696b;
$main_menu_bg_hover_color: rgba(255, 255, 255, 0.7);
$main_menu_hover_color: #333;
$main_menu_hover_active_color: #FFF;


// Block
$block_bg_color: #f6f6f2;
$block_link_color: $link_heading_color;
$block_link_hover_color: $link_color;

// Fieldset
$fieldset_border_color: #CCC;

// Tables
$table_th_color: #FFF;
$table_th_link_color: #FFF;
$table_th_bg_color: rgba(0, 0, 0, 0.51);
$table_border_color: #FFF;

// Footer
$footer_text_color: hsl(206, 42.36%, 44.90%);
$footer_bg_color: hsl(0, 0.00%, 100.00%);
$footer_link_color: $link_heading_color;
$footer_link_hover_color: $link_color;




