$body_bg_color: #FFF;

$link_color: #01a9b3;
$link_hover_color: #02d6e2;
$link_heading_color: #27688e;

$text-color: hsl(0, 0.58%, 33.92%);

// Tabs
$tab_bg_color: #f6f6f2;
$tab_bg_hover_color: #68696b;
$tab_link_color: #01a9b3;
$tab_link_hover_color: #02d6e2;
$tab_link_active_color: #333;

// Block
$block_bg_color: #f6f6f2;
$block_link_color: $link_heading_color;
$block_link_hover_color: $link_color;

// Fieldset
$fieldset_border_color: #CCC;

// Tables
$table_th_color: #FFF;
$table_th_link_color: #FFF;
$table_th_bg_color: rgba(0, 0, 0, 0.51);
$table_border_color: #FFF;

// Footer
$footer_text_color: hsl(206, 42.36%, 44.90%);
$footer_bg_color: #395CA4;
$footer_link_color: #FFF;
$footer_link_hover_color: #FFF;

// Separator
$separator-color: hsl(0, 0.00%, 87.84%);

// Frontpage
$events-heading-bg: $link_heading_color;

// TB Megamenu
$navigation-border-color: #FFF;
$navigation-bg-color: #E07B00;
$navigation-shadow-color: #FAEAD6;
$main-menu-bg-color: #E07B00;
$main-menu-bg-hover-color: #FAEAD6;
$main-menu-border-color: #FFF;
$main-menu-color: #FFF;
$main-menu-active-color: #A03800;
$main-menu-hover-color: #A03800;
$main-menu-bg-active-color: #FAEAD6;
$main-menu-hover-active-color: #A03800;
$dropdown-bg-color: #FAEAD6;
$dropdown-active-bg-color: #FAEAD6;
$dropdown-color: #A03800;
$dropdown-hover-color: #A03800; 
$dropdown-active-color: #FAEAD6;
$dropdown-hover-border-top-color: #FFF; 
$dropdown-hover-border-bottom-color: #E07B00; 

