$body_bg_color: #FFF;

$link_color: #3457A0;
$link_hover_color: #01A9B3;
$link_heading_color: #3457A0;

$text-color: hsl(0, 0.58%, 33.92%);

// Tabs
$tab_bg_color: #f6f6f2;
$tab_bg_hover_color: #68696b;
$tab_link_color: #01a9b3;
$tab_link_hover_color: #02d6e2;
$tab_link_active_color: #333;

// Block
$block_bg_color: #FAEAD6;
$block_link_color: #A03800;
$block_link_hover_color: #A03800;

// Fieldset
$fieldset_border_color: #CCC;

// Tables
$table_th_color: rgba(0, 0, 0, 0.75);
$table_th_link_color: #A03800;
$table_th_bg_color: #FAEAD6;
$table_border_color: #E07B00;
$table_tr_even_bg_color: #EEE;
$table_tr_odd_bg_color: #FAFAFA;

// Footer
$footer_text_color: hsl(206, 42.36%, 44.90%);
$footer_bg_color: #A03800;
$footer_link_color: #FFF;
$footer_link_hover_color: #FFF;

// Separator
$separator-color: hsl(0, 0.00%, 87.84%);

// Frontpage
$frontpage-heading-bg: #E07B00;

// TB Megamenu
$navigation-border-color: #FFF;
$navigation-bg-color: #E07B00;
$navigation-shadow-color: #FAEAD6;
$main-menu-bg-color: #E07B00;
$main-menu-bg-hover-color: #FAEAD6;
$main-menu-border-color: #FFF;
$main-menu-color: #FFF;
$main-menu-active-color: #A03800;
$main-menu-hover-color: #A03800;
$main-menu-bg-active-color: #FAEAD6;
$main-menu-hover-active-color: #A03800;
$dropdown-bg-color: #FAEAD6;
$dropdown-active-bg-color: #FAEAD6;
$dropdown-color: #A03800;
$dropdown-hover-color: #A03800;
$dropdown-active-color: #FAEAD6;
$dropdown-hover-border-top-color: #FFF;
$dropdown-hover-border-bottom-color: #E07B00;

// Submentree
$submenutree-bg-expanded-color: #F3DCC5;

// Members
$chairs_bg_color: #A03800;
$members_bg_color: #EEEEEE;
$membership_request_bg_color: #FAEAD6;

// Accordion
$accordion_header_bg_color: #E07B00;
$accordion_header_active_bg_color: #A03800;

// Events
$internal-event: #E07B00;
$external-event: #A03800;
$event-tab-bg-color: #FAEAD6;
$event-tab-link-color: #A03800;
$event-tab-bg-active-color: #F3DCC5;
