// Break points
$tablet-width: 480px;
$tablet-width-2: 640px;
$desktop-width: 980px;

//$max-screen-width: 1133px;
$max-screen-width: 980px;

// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 20px;
$horz-spacing-unit: 1em;
$mobile-content-margin: 10px;

// Font
$main-font-size: 16px;

// Separator
$separator-width: 2px;

// Images
$image-document-icon-width: 150px;
$image-document-icon-height: 225px;
