body {
  margin: 0 auto;
  font-size: $main-font-size;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

// H1-H6 tags
// see http://www.w3schools.com/tags/tag_hn.asp
h1 {
  font-size: $h1-font-size;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}
h2 {
  font-size: $h2-font-size;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}
h3 {
  font-size: $h3-font-size;
  margin-top: 1em;
  margin-bottom: 1em;
}
h4 {
  font-size: $h4-font-size;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}
h5 {
  font-size: $h5-font-size;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
}
h6 {
  font-size: $h6-font-size;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
}
// Mobile
@include breakpoint($mobile) {
  h1 {
    font-size: $h1-font-size-mobile;
  } 
  h2 {
    font-size: $h2-font-size-mobile;
  } 
  h3 {
    font-size: $h3-font-size-mobile;
  }  
}
// Tab
@include breakpoint($tab) {
  h1 {
    font-size: $h1-font-size-tab;
  } 
  h2 {
    font-size: $h2-font-size-tab;
  } 
  h3 {
    font-size: $h3-font-size-tab;
  }  
}

p {
  font-size: $p-font-size;
  line-height: 1.6;
  font-weight: 300;
  color: black;
  margin-top: 0em;
  margin-bottom: 0.7em;
  text-align: left;
}

strong {
  font-weight: bold; 
}

em, i {
  font-style:italic;
}

// List
ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px; 
}
li {
  display: list-item;
  margin-bottom: 0.7em;
  font-size: $p-font-size;
}

// Headings
h1,
h2,
h3,
h4 {
  &>a {
    color: $link_heading_color;
    text-decoration: none;
  }
}

h2.site-slogan {
  color: $link_heading_color;
}

// Fieldset
fieldset {
  @include fieldset;
}

.feed-icon {
  margin-top: 1em;
}

input[type=text],
input[type=password] {
  max-width: 100%;
}

// Tabs
ul.tabs--primary {
  padding: 0 3px;
  margin: 0;
  overflow: hidden;
  li {
      display: block;
      vertical-align: bottom;
      margin: 0 5px 0 0;
      background-color: $tab_bg_color;
  }
  li.active a {
      color: $tab_link_active_color;
  }
  li a {
      color: $tab_link_color;
      height: 1.8em;
      line-height: 1.9;
      display: block;
      padding: 0 10px 3px;
      margin: 0;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
  }
  li.active a {
      background-color: #FFF;
      color: $tab_link_active_color;
  }
  a:hover, a:focus {
      color: $tab_link_hover_color;
      background-color: $tab_bg_hover_color;
  }
}  
ul.tabs--secondary {
  padding: 0.5em 0;
  margin: 0;
  overflow: hidden;
  li {
      display: block;
      vertical-align: bottom;
      margin: 0 5px 0 0;
      background-color: $tab_bg_color;
  }
  li.active a {
      color: $tab_link_active_color;
  }
  li a {
      color: $tab_link_color;
      height: 1.8em;
      line-height: 1.9;
      display: block;
      padding: 0 10px 3px;
      margin: 0;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
  }
  li.active a {
      background-color: #FFF;
      color: $tab_link_active_color;
  }
  a:hover, a:focus {
      color: $tab_link_hover_color;
      background-color: $tab_bg_hover_color;
  }
}  
.tabs,
ul.tabs--primary,
ul.tabs--secondary {
  margin-bottom: $vert-spacing-unit;
}

// Links
.block__content a[href],
.node__content a[href],
.taxonomy-term__content a[href],
.view-content a[href],
.node-readmore a[href],
.user-profile a[href] {
  color: $link_color;
  text-decoration: none;
  
  &:hover {
    color: $link_hover_color;
    text-decoration: underline;
  }
}

// Admin Toolbar
body.adminimal-menu div.toolbar-shortcuts {
    display: none;
}