.l-header {
  @include breakpoint($mobile, true) {
    position: relative;
  }
  @include breakpoint($tab, true) {
    position: relative;
    margin-bottom: $vert-spacing-unit;
  }
  @include breakpoint($desk, true) {
    margin-bottom: $vert-spacing-unit;
  }
}

.l-branding {
  @include breakpoint($mobile, true) {
    img {
      margin-top: 12px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    
  }
  @include breakpoint($tab, true) {
    img {
      margin-top: 12px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  } 
  @include breakpoint($desk, true) {
    height: 155px;
    img {
      margin-top: $vert-spacing-unit;
    }
  } 

  img {
    width: 100%;
    max-width: 220px;
  }
} //.l-branding


.l-region--header {
  // Mobile
  @include breakpoint($mobile, true) {
    display: block;
    position: absolute;
    z-index: 999999;
    top: 0;
    right: 0;
    padding: 0;
    #block-tb-megamenu-main-menu {
      display: none;
    }
  }
  // Tab
  @include breakpoint($tab, true) {
    display: block;
    position: absolute;
    z-index: 999999;
    top: 0;
    right: 0;
    padding: 0;
    #block-search-form {
      margin: 0;
    }
    #block-tb-megamenu-main-menu {
      margin: 0 1em;
      margin-top: -14px;
    }
  }
  // Desk
  @include breakpoint($desk, true) {
    height: 155px;
    #block-tb-megamenu-main-menu {
      margin-top: 40px;
    }    
  }

} //.l-region--header 



