.l-branding {
  padding: $vert-spacing-unit;
  padding-bottom: 0;
  img {
    width: 100%;
    max-width: 220px;
    @include breakpoint($desk, true) {
      //max-width: 100%;
    }    
  }
}

.l-region--header {
  height: 148px;
  //padding: 0 $horz-spacing-unit;
  #block-tb-megamenu-main-menu {
    //margin-top: 2 * $vert-spacing-unit;
    margin-top: 42px;
  }
}

@include breakpoint($desk, true) {
  .l-header {
    margin-bottom: $vert-spacing-unit;
  }
}
