.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-top: 20px; }
  @media (max-width: 479px) {
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      padding: 0 1em; } }

.l-region--sidebar-first > .block,
.l-region--sidebar-second > .block {
  background-color: #FAEAD6;
  margin-bottom: 20px;
  padding: 0.5em 0; }
  .l-region--sidebar-first > .block h2.block__title,
  .l-region--sidebar-second > .block h2.block__title {
    font-size: 20px;
    padding: 0 1em;
    margin: 0; }
  .l-region--sidebar-first > .block a,
  .l-region--sidebar-second > .block a {
    text-decoration: none;
    color: #A03800; }
    .l-region--sidebar-first > .block a:hover,
    .l-region--sidebar-second > .block a:hover {
      color: #A03800;
      text-decoration: underline; }

.block--submenutree ul.menu {
  padding: 0;
  margin: 0; }
  .block--submenutree ul.menu li {
    list-style-image: unset;
    list-style-type: unset;
    margin: 8px 0; }
    .block--submenutree ul.menu li a {
      padding-left: 20px; }
    .block--submenutree ul.menu li a.active {
      font-weight: bold; }
  .block--submenutree ul.menu li.expanded {
    background: #F3DCC5;
    padding-top: 8px;
    padding-bottom: 4px; }
    .block--submenutree ul.menu li.expanded a.active-trail,
    .block--submenutree ul.menu li.expanded a.active {
      font-weight: bold; }
    .block--submenutree ul.menu li.expanded ul.menu {
      margin: 0; }
      .block--submenutree ul.menu li.expanded ul.menu li {
        padding-left: 20px;
        margin: 0; }

@media (min-width: 980px) {
  .view-cseu-wgs-list-view .cseu-wgs-list-view-row {
    padding-top: 1em; }
    .view-cseu-wgs-list-view .cseu-wgs-list-view-row .cseu-wgs-list-col-text {
      width: 47.61905%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none;
      clear: both;
      margin-bottom: 60px; }
    .view-cseu-wgs-list-view .cseu-wgs-list-view-row .cseu-wgs-list-col-image {
      width: 47.61905%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      margin-bottom: 60px; } }

.view-cseu-wgs-list-view .cseu-wgs-list-view-row .cseu-wgs-list-col-image {
  margin-bottom: 20px; }

.view-cseu-wgs-list-view .view-content {
  clear: both; }

.view-cseu-wgs-list-view .attachment-wg-chairs,
.view-cseu-wgs-list-view .attachment-wg-members,
.view-cseu-wgs-list-view .attachment-wg-news {
  clear: both;
  padding-top: 1em; }

.view-cseu-wgs-list-view .cseu-wgs-list-attachment-chairs-row .cseu-wgs-list-request-link {
  margin: 1em 0;
  background: #FAEAD6;
  color: #A03800;
  font-size: 110%;
  padding: 1em; }
  @media (min-width: 980px) {
    .view-cseu-wgs-list-view .cseu-wgs-list-attachment-chairs-row .cseu-wgs-list-request-link {
      margin-top: 26px; } }
  .view-cseu-wgs-list-view .cseu-wgs-list-attachment-chairs-row .cseu-wgs-list-request-link a {
    color: #A03800;
    text-decoration: underline; }

@media (min-width: 980px) {
  .view-cseu-wgs-list-view .cseu-wgs-list-attachment-chairs-row .cseu-wgs-list-attachment-chairs:nth-of-type(1) {
    width: 33.11258%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .view-cseu-wgs-list-view .cseu-wgs-list-attachment-chairs-row .cseu-wgs-list-attachment-chairs:nth-of-type(2) {
    width: 33.11258%;
    float: left;
    margin-right: -100%;
    margin-left: 33.44371%;
    clear: none; }
  .view-cseu-wgs-list-view .cseu-wgs-list-attachment-chairs-row .cseu-wgs-list-attachment-chairs:nth-of-type(3) {
    width: 33.11258%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

.view-cseu-wgs-list-view .cseu-wgs-list-attachment-members-row {
  clear: both; }
  @media (max-width: 479px) {
    .view-cseu-wgs-list-view .cseu-wgs-list-attachment-members-row .cseu-wgs-list-attachment-members-col-1,
    .view-cseu-wgs-list-view .cseu-wgs-list-attachment-members-row .cseu-wgs-list-attachment-members-col-2,
    .view-cseu-wgs-list-view .cseu-wgs-list-attachment-members-row .cseu-wgs-list-attachment-members-col-3 {
      padding: 1em 0; } }
  @media (min-width: 480px) and (max-width: 979px) {
    .view-cseu-wgs-list-view .cseu-wgs-list-attachment-members-row .cseu-wgs-list-attachment-members-col-1,
    .view-cseu-wgs-list-view .cseu-wgs-list-attachment-members-row .cseu-wgs-list-attachment-members-col-2,
    .view-cseu-wgs-list-view .cseu-wgs-list-attachment-members-row .cseu-wgs-list-attachment-members-col-3 {
      padding: 20px 0; } }
  @media (min-width: 980px) {
    .view-cseu-wgs-list-view .cseu-wgs-list-attachment-members-row {
      padding-top: 40px; }
      .view-cseu-wgs-list-view .cseu-wgs-list-attachment-members-row .cseu-wgs-list-attachment-members-col-1 {
        width: 33.11258%;
        float: left;
        margin-right: -100%;
        margin-left: 0;
        clear: none; }
      .view-cseu-wgs-list-view .cseu-wgs-list-attachment-members-row .cseu-wgs-list-attachment-members-col-2 {
        width: 33.11258%;
        float: left;
        margin-right: -100%;
        margin-left: 33.44371%;
        clear: none; }
      .view-cseu-wgs-list-view .cseu-wgs-list-attachment-members-row .cseu-wgs-list-attachment-members-col-3 {
        width: 33.11258%;
        float: right;
        margin-left: 0;
        margin-right: 0;
        clear: none; } }

.view-cseu-wgs-list-view .cseu-wgs-list-attachment-members-row:nth-of-type(1) {
  padding-top: 0; }

.view-cseu-wgs-list-view .cseu-wgs-list-view-row .cseu-wgs-list-col-text .cseu-wgs-list-group-link {
  margin-top: 0.5em;
  margin-bottom: 20px;
  padding: 0.3em 0.7em;
  width: 160px;
  background: #FAEAD6;
  color: #A03800; }
  .view-cseu-wgs-list-view .cseu-wgs-list-view-row .cseu-wgs-list-col-text .cseu-wgs-list-group-link a {
    color: #A03800;
    text-decoration: underline; }

@media (min-width: 980px) {
  .view-cseu-wgs-list-view .cseu-wgs-list-view-row .cseu-wgs-list-col-image .cseu-wgs-list-col-image-chair {
    width: 49.01961%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .view-cseu-wgs-list-view .cseu-wgs-list-view-row .cseu-wgs-list-col-image .cseu-wgs-list-col-image-co-chair {
    width: 49.01961%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  .view-cseu-wgs-list-view .cseu-wgs-list-view-row .cseu-wgs-list-col-image .cseu-wgs-list-col-image-chair .cseu-wgs-list-profile,
  .view-cseu-wgs-list-view .cseu-wgs-list-view-row .cseu-wgs-list-col-image .cseu-wgs-list-col-image-co-chair .cseu-wgs-list-profile {
    width: 100%; }
    .view-cseu-wgs-list-view .cseu-wgs-list-view-row .cseu-wgs-list-col-image .cseu-wgs-list-col-image-chair .cseu-wgs-list-profile .cseu-wgs-list-image img,
    .view-cseu-wgs-list-view .cseu-wgs-list-view-row .cseu-wgs-list-col-image .cseu-wgs-list-col-image-co-chair .cseu-wgs-list-profile .cseu-wgs-list-image img {
      width: 100%;
      height: auto; } }

.cseu-wgs-list-view-row {
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 2px solid #e0e0e0; }
  @media (min-width: 980px) {
    .cseu-wgs-list-view-row {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0; } }

.cseu-wgs-list-view-row:last-of-type {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0; }

.cseu-wgs-list-field .cseu-wgs-list-field-label,
.cseu-wgs-list-field .cseu-wgs-list-field-content {
  display: inline-block; }

.cseu-wgs-list-field .cseu-wgs-list-field-label {
  font-weight: bold; }

.cseu-wgs-list-field .cseu-wgs-list-field-content {
  display: inline-block; }

.cseu-wgs-event-visible {
  display: block; }

.cseu-wgs-event-hidden {
  display: none; }

.cseu-wgs-list-col-image-chair,
.cseu-wgs-list-col-image-co-chair,
.cseu-wgs-list-attachment-chairs {
  margin-bottom: 20px; }
  @media (min-width: 980px) {
    .cseu-wgs-list-col-image-chair,
    .cseu-wgs-list-col-image-co-chair,
    .cseu-wgs-list-attachment-chairs {
      margin-bottom: 0; } }

.cseu-wgs-list-col-text h2, .cseu-wgs-list-col-text h3,
.cseu-wgs-list-attachment-chairs h2,
.cseu-wgs-list-attachment-chairs h3,
.attachment-wg-members h2,
.attachment-wg-members h3 {
  margin: 0; }

.cseu-wgs-list-col-text h3,
.cseu-wgs-list-attachment-chairs h3,
.attachment-wg-members h3 {
  font-weight: bold;
  margin-bottom: .7em; }

@media (min-width: 980px) {
  .attachment-wg-members h2 {
    padding-top: 40px; } }

.cseu-wgs-list-profile {
  width: 220px;
  background: #A03800;
  color: #FFF;
  padding-bottom: 1em; }
  .cseu-wgs-list-profile .cseu-wgs-list-info {
    min-height: 100px; }
    @media (min-width: 980px) {
      .cseu-wgs-list-profile .cseu-wgs-list-info {
        min-height: 112px; } }
  .cseu-wgs-list-profile .cseu-wgs-list-member {
    font-weight: bold; }
  .cseu-wgs-list-profile .cseu-wgs-list-member,
  .cseu-wgs-list-profile .cseu-wgs-list-institution {
    padding: 0 .7em; }
  .cseu-wgs-list-profile .cseu-wgs-list-institution {
    font-size: 80%; }

.cseu-wgs-list-attachment-members-row .cseu-wgs-list-profile {
  background: #EEEEEE;
  color: #000; }

.cseu-wgs-list-view-title-hidden {
  display: none; }

.cseu-wgs-list-col-image a.cseu-wgs-list-profile-link,
.cseu-wgs-list-attachment-chairs a.cseu-wgs-list-profile-link,
.cseu-wgs-list-attachment-members a.cseu-wgs-list-profile-link {
  text-decoration: none; }
  .cseu-wgs-list-col-image a.cseu-wgs-list-profile-link:hover,
  .cseu-wgs-list-attachment-chairs a.cseu-wgs-list-profile-link:hover,
  .cseu-wgs-list-attachment-members a.cseu-wgs-list-profile-link:hover {
    text-decoration: inherit; }

.l-region--sidebar-first,
.l-region--sidebar-second {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  margin-bottom: 20px;
  padding-left: 1em; }

@media (min-width: 480px) and (max-width: 979px) {
  .has-sidebar-first .l-content,
  .has-sidebar-second .l-content,
  .has-two-sidebars .l-content {
    width: 65.30612%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .has-sidebar-first .l-region--sidebar-first,
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-first,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 32.65306%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: right; } }

@media (min-width: 980px) {
  .has-sidebar-first .l-content {
    width: 74.24242%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  .has-sidebar-first .l-region--sidebar-first {
    width: 24.24242%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .has-sidebar-second .l-content {
    width: 74.24242%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .has-sidebar-second .l-region--sidebar-second {
    width: 24.24242%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: none; }
  .has-two-sidebars .l-content {
    width: 48.48485%;
    float: left;
    margin-right: -100%;
    margin-left: 25.75758%;
    clear: none; }
  .has-two-sidebars .l-region--sidebar-first {
    width: 24.24242%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .has-two-sidebars .l-region--sidebar-second {
    width: 24.24242%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: none; } }
