.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-top: 20px; }
  @media (max-width: 479px) {
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      padding: 0 1em; } }

.l-region--sidebar-first > .block,
.l-region--sidebar-second > .block {
  background-color: #f6f6f2;
  margin-bottom: 20px;
  padding: 1em 0; }
  .l-region--sidebar-first > .block h2.block__title,
  .l-region--sidebar-second > .block h2.block__title {
    font-size: 20px;
    padding: 0 1em;
    margin: 0; }
  .l-region--sidebar-first > .block a,
  .l-region--sidebar-second > .block a {
    text-decoration: none;
    color: #27688e; }
    .l-region--sidebar-first > .block a:hover,
    .l-region--sidebar-second > .block a:hover {
      color: #3457A0;
      text-decoration: underline; }

.l-region--sidebar-first,
.l-region--sidebar-second {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  margin-bottom: 20px;
  padding-left: 1em; }

@media (min-width: 480px) and (max-width: 979px) {
  .has-sidebar-first .l-content,
  .has-sidebar-second .l-content,
  .has-two-sidebars .l-content {
    width: 65.30612%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .has-sidebar-first .l-region--sidebar-first,
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-first,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 32.65306%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: right; } }

@media (min-width: 980px) {
  .has-sidebar-first .l-content {
    width: 74.24242%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }
  .has-sidebar-first .l-region--sidebar-first {
    width: 24.24242%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .has-sidebar-second .l-content {
    width: 74.24242%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .has-sidebar-second .l-region--sidebar-second {
    width: 24.24242%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: none; }
  .has-two-sidebars .l-content {
    width: 48.48485%;
    float: left;
    margin-right: -100%;
    margin-left: 25.75758%;
    clear: none; }
  .has-two-sidebars .l-region--sidebar-first {
    width: 24.24242%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }
  .has-two-sidebars .l-region--sidebar-second {
    width: 24.24242%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: none; } }
